@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply m-0 p-0 box-border;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  @apply hidden;
}

body{
  @apply w-full;
}

.header{
  @apply w-screen bg-yellow lg:h-[100px] h-14 flex justify-center text-gray-dark;
}

.nav{
  @apply flex justify-center w-full lg:h-full h-12;
}

.nav-container{
  @apply w-4/5 lg:h-[92px] h-12 flex flex-col gap-y-2 text-13px;
}

.nav-first-line{
  @apply flex flex-row gap-x-[52px] items-center;
}

.logo{
  @apply w-32 h-8;
}

.search{
  @apply h-14 w-[600px];
}

.form-search{
  @apply grid grid-cols-12 grid-rows-1 w-full h-full justify-center items-center;
}

.input-search{
  @apply col-start-1 col-span-full row-start-1 row-end-1 w-full h-10 text-15px rounded-sm border-solid border-[#00000000] border shadow-20 py-2 pr-14 pl-4;
}

.button-search{
  @apply col-start-11 lg:col-start-12 col-end-12 row-start-1 row-end-1 p-0 bg-none w-full h-7 border-l border-l-border border-solid;
}

.navbar-menu{
  @apply lg:hidden text-28px;
}

.shopping-mobile button{
  @apply grid grid-cols-1 justify-center lg:hidden w-11;
}

.cart{
  @apply flex row-span-full col-start-1 col-span-1 self-center justify-center;
}

.cart-counter{
  @apply flex row-span-full col-start-1 col-span-1 justify-center;
}

.nav-second-line{
  @apply hidden lg:flex flex-row gap-x-[52px];
}

.address{
  @apply grow-0 text-13px pl-3;
}

.list-inline{
  @apply inline-block mx-1
}

.categories-menu{
  @apply text-gray-transparent flex flex-row items-center gap-x-1;
}

.shopping-desktop button{
  @apply grow-0 grid grid-cols-1 justify-center;
}

.navbar-mobile{
  @apply flex flex-col gap-x-[52px] bg-yellow;
}

.address-mobile{
  @apply grow-0 pl-3 my-2;
}

.options-mobile{
  @apply grow pl-3 my-2;
}

.account-mobile{
  @apply grow-0 pl-3 my-2;
}

.cart-modal{
  @apply flex flex-col w-full h-full gap-2;
}

.cart-modal-items{
  @apply flex flex-row w-full h-full justify-between gap-2 items-center;
}

.cart-modal-item{
  @apply flex flex-col w-full h-full items-center justify-between gap-2 border border-solid border-gray-lighter border-opacity-25 rounded-lg;
}

.cart-modal-image{
  @apply relative w-24 h-24 m-2;
}

.cart-modal-price{
  @apply flex justify-center items-center;
}

.cart-modal-total{
  @apply flex justify-end items-center font-extrabold;
}

.slider-container{
  @apply grid grid-rows-2 h-full w-screen justify-center;
}

.banner-list{
  @apply col-span-full row-start-1 row-span-2 flex;
}

.banner-list img{
  @apply w-full;
}

.unordered{
  @apply col-span-full row-start-2 row-span-2 flex justify-center items-end;
}

.unordered li{
  @apply list-disc list-inside text-white;
}

.first-container{
  @apply flex flex-col justify-center items-center bg-white-dark pt-10 pb-16;
}

.advantages-section{
  @apply flex justify-around w-4/5 bg-white lg:h-24 lg:py-0 h-auto p-2 items-center gap-x-2;
}

.advantages{
  @apply flex lg:flex-row flex-col w-1/4 items-center px-5;
}

.advantages-logo{
  @apply mr-2;
}

.advantages-description{
  @apply flex flex-col text-17px;
}

.advantages-description a{
  @apply text-blue text-13px;
}

.advantages-border{
  @apply border-l border-solid border-white-light;
}

.offers-section{
  @apply w-[88%] pt-12 justify-center flex flex-col items-center;
}

.offers-title{
  @apply w-[89%];
}

.offers-title span{
  @apply text-25px text-gray-light m-2;
}

.offers-title a{
  @apply text-blue text-15px m-2;
}

.offers-container-desktop{
  @apply hidden lg:grid grid-cols-24 grid-rows-1 items-center justify-center;
}

.offers-container-mobile{
  @apply lg:hidden grid grid-cols-24 grid-rows-1 items-center justify-center;
}

.offers-cards{
  @apply col-start-2 col-span-22 row-start-1 grid grid-cols-3 lg:grid-cols-5 gap-4 mt-5;
}

.card{
  @apply bg-white h-96;
}

.card-img-container{
  @apply relative h-48;
}

.card img{
  @apply w-full;
}

.card-description{
  @apply flex justify-center items-center border-t border-solid border-white-light py-2;
}

.card-content{
  @apply flex flex-col gap-2 w-4/5 mt-5;
}

.card-content div{
  @apply flex sm:flex-col flex-row items-center gap-1;
}

.price{
  @apply text-23px text-gray-dark;
}

.sale{
  @apply text-[.875rem] text-green;
}

.send{
  @apply text-[.875rem] text-green font-bold;
}

.card-content-compound{
  @apply flex flex-row items-center gap-1;
}

.back-arrow{
  @apply flex col-start-1 col-span-2 row-start-1 w-full;
}

.back-arrow-button{
  @apply rounded-full bg-white shadow-20 text-blue relative;
}

.next-arrow{
  @apply flex col-start-23 col-span-24 row-start-1 w-full;
}

.next-arrow-button{
  @apply rounded-full bg-white shadow-20 text-blue relative;
}

.suscribe-section{
  width: 80%;
  padding-top: 56px;
}

.suscribe{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #A90F90 60%, #0C1A51);
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  height: 87px;
  width: 100%;
  padding: 12px;
}

.suscribe-title{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.suscribe-price{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.suscribe-price-pseudo{
  border-left: #FFFFFF 1px solid;
  height: 37px;
}

.suscribe-price-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.suscribe-price-before{
  font-size: 14px;
  text-decoration: line-through;
}

.suscribe-price-now{
  font-size: 17px;
}

.suscribe-price-month{
  font-size: 13px;
}

.suscribe-benefits{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 17px;
  background-color: #FFFFFF;
  color: #000000;
  row-gap: 29px;
}

.suscribe-benefits-title{
  margin-top: 19px;
  margin-left: 24px;
}

.suscribe-benefits-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
}

.suscribe-benefits-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  color: #000000;
}

.suscribe-button-container{
  display: flex;
  justify-content: end;
  background-color: #FFFFFF;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 30px;
}

.suscribe-button{
  font-size: 15px;
  color: #FFFFFF;
  background-color: #3483FA;
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 123px;
}

.benefits-section{
  width: 80%;
  padding-top: 82px;
}

.benefits-title{
  font-size: 25px;
  color: #666666;
}

.benefits-title a{
  text-decoration: none;
  color: #3483FA;
  font-size: 15px;
}

.benefits-description{
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 12px;
}

.benefits-description-disney{
  display: flex;
  height: 250px;
  width: 100%;
  background-image: url("/media/beneficios 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  align-items: end;
  border-radius: 7px;
}

.benefits-description-content{
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 16px;
}

.benefits-description-content-img img{
  width: 100%;
}

.benefits-description-content-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14px;
  row-gap: 5px;
}

.benefits-description-hbo{
  display: flex;
  height: 250px;
  width: 100%;
  background-image: url("/media/beneficios 2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  align-items: end;
  border-radius: 7px;
}

.benefits-description-paramount{
  display: flex;
  height: 250px;
  width: 100%;
  background-image: url("/media/beneficios 3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  align-items: end;
  border-radius: 7px;
}

.benefits-description-text1{
  font-size: 22px;
  color: #FFFFFF;
}

.benefits-description-text2{
  font-size: 17px;
  color: #FFFFFF;
}

.benefits-description-text3{
  font-size: 11px;
  color: #FFFFFF;
}

.discover-section{
  width: 80%;
  padding-top: 100px;
}

.discover-title{
  font-size: 26px;
  color: #666666;
}

.discover-description-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  column-gap: 15px;
  margin-top: 28px;
}

.discover-description-content{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #FFFFFF;
  height: 250px;
  border-radius: 4px;
}

.discover-description-content img{
  width: 100%;
  height: 250px;
  border-radius: 0 4px 4px 0;
}

.discover-description-content-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
}

.discover-description-content-text span{
  font-size: 28px;
  color: #4B4B4B;
}

.discover-description-content-text-1{
  font-size: 12px !important;
  margin-bottom: 18px;
}

.discover-description-content-text button{
  width: 96px;
  height: 36px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #3483FA;
  border: none;
  border-radius: 2px;
  margin-top: 18px;
}

.stores-section{
  @apply w-4/5 pt-14;
}

.stores-title{
  @apply text-25px text-gray-light mb-8;
}

.stores-title a{
  @apply text-blue text-15px ml-4;
  text-decoration: none;
}

.stores-container{
  @apply flex flex-row justify-between w-full;
}

.stores-description-1{
  @apply flex flex-col items-center h-[340px] pt-12 gap-3 bg-no-repeat bg-white bg-100 bg-mejores1 rounded-md;
}

.stores-description-2{
  @apply flex flex-col items-center h-[340px] pt-12 gap-3 bg-no-repeat bg-white bg-100 bg-mejores2 rounded-md;
}

.stores-description-3{
  @apply flex flex-col items-center h-[340px] pt-12 gap-3 bg-no-repeat bg-white bg-100 bg-mejores3 rounded-md;
}

.stores-description-4{
  @apply flex flex-col items-center h-[340px] pt-12 gap-3 bg-no-repeat bg-white bg-100 bg-mejores4 rounded-md;
}

.stores-description-logo{
  @apply flex justify-center w-full;
}

.stores-description-logo img{
  @apply rounded-xl w-1/3 shadow-15;
}

.stores-description-name{
  @apply text-25px text-gray-dark font-bold;
}

.stores-description-items{
  @apply flex flex-row justify-center items-center w-full p-3 gap-2;
}

.stores-description-more{
  @apply text-15px text-gray-lighter font-bold;
}

.second-container{
  @apply flex flex-col items-center justify-center pt-10 bg-white-darker;
}

.collections-section{
  @apply w-4/5;
}

.collections-title{
  @apply text-26px text-gray-light font-extralight flex gap-2;
}

.collections-title button{
  @apply text-26px text-gray-light font-bold border-none flex gap-2 items-center;
}

.collections-content{
  @apply grid grid-cols-6 grid-rows-2 gap-4 mt-7 w-full lg:h-[384px];
}

.collections-content-first{
  @apply col-start-1 row-start-1 col-span-2 row-span-2;
}

.collections-content-main{
  @apply flex flex-col bg-white rounded-md lg:h-full gap-6;
}

.collections-content-main img{
  @apply w-full rounded-t-md;
}

.collections-content-main-description{
  @apply flex flex-col justify-between w-full p-3;
}

.collections-content-main-text1{
  @apply text-xs text-gray font-bold;
}

.collections-content-main-text2{
  @apply text-lg lg:text-28px text-gray font-extrabold;
}

.collections-content-img{
  @apply h-full w-full;
}

.categories-section{
  width: 80%;
  margin-top: 85px;
  margin-bottom: 18px;
}

.categories-title{
  font-size: 25px;
  color: #666666;
  font-weight: lighter;
}

.categories-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 29px;
}

.categories-content-column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categories-content-cell{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px;
  border: 1px solid #E5E5E5;
  height: 170px;
  font-size: 14px;
}

.information-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  padding: 24px;
}

.information{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.information-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
}

.information-description-title{
  font-size: 19px;
  color: #4B4B4B;
  margin: 12px;
  font-weight: medium;
}

.information-description-text{
  font-size: 15px;
  color: #999999;
  margin: 12px;
  font-weight: regular;
}

.information-description-link{
  font-size: 13px;
  color: #3483FA;
  margin: 12px;
  font-weight: regular;
}

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  padding: 24px;
  border-top: 1px solid #E5E5E5;
}

.copyright{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.interest-links{
  list-style-type: none;
  margin: 6px;
}

.interest-links li{
  display: inline;
}

.interest-links a{
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}

.copyright-links span{
  font-size: 11px;
  color: #999999;
  margin: 6px;
}

.copyright-address{
  font-size: 11px;
  color: #999999;
  margin: 6px;
}

.endorse{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 12px;
  border-top: 1px solid #E5E5E5;
}

.endorse div{
  width: 12%;
}

.endorse img{
  width: 100%;
}
